
__pycache__/
*.py[cod]
*$py.class


*.pyo
*.pyd
*.pdb


venv/
env/
.venv/


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


.env
.env.*
*.env
*.ini
*.cfg
secrets.json


*.db
*.sqlite3
*.sqlite


*.log
logs/
*.pid
*.seed
*.cover
.coverage
.cache/
.pytest_cache/
.tox/
.nox/
.mypy_cache/
pytestdebug.log


.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db


static/tts/*.mp3
static/tmp/
temp/
tmp/


.ipynb_checkpoints


ehthumbs.db
Icon?
Desktop.ini


*.sock
*.pid
*.log
